<nav>
    <table align="center">
        <tr>
            <th><a href="/">Home</a></th>
            <th><a href="/contact">Contact</a></th>
            <th><a href="/profile/shiv">Profile</a></th>
        </tr>
    </table>
</nav>