<!DOCTYPE html>
<html>

<head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <% include partials/nav.ejs %>
        <h1>Contact Us!</h1>
        <p>Thanks for getting in touch!!</p>
        <p>You contacted for
            <%=data.who%> in the
                <%=data.department%> department..</p>
        <p>We will rply to u at
            <%=data.email %>
        </p>

</body>

</html>